nav {
    color: white; 
    text-align: center
    }

body {
    background-color: blue;
    font-family: sans-serif;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    }

h1 { 
font-family: cursive, sans-serif;
text-align: center;
    color: blueviolet
}